In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

This is a 4 hours lab. 
Do not hard code any of the answers.

In [8]:
# Create a Dataframe with the file 'pseudo_facebook.csv'
df = pd.read_csv('pseudo_facebook.csv')
df

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98998,1268299,68,4,1945,4,female,541.0,2118,341,3996,18089,3505,11887,491,6202
98999,1256153,18,12,1995,3,female,21.0,1968,1720,4401,13412,4399,10592,2,2820
99000,1195943,15,10,1998,5,female,111.0,2002,1524,11959,12554,11959,11462,0,1092
99001,1468023,23,11,1990,4,female,416.0,2560,185,4506,6516,4506,5760,0,756
99002,1397896,39,15,1974,5,female,397.0,2049,768,9410,12443,9410,9530,0,2913

How many users have more than 1000 friends? Use sum to count the instances with more than 1000 friends

In [ ]:
Above1000Friends = (df["friend_count"] > 1000).sum()
Above1000Friends

Who is the user with the most friends? First, use idxmax to find the index with the max number of friends. Then, use iloc to get the entire row of the user.

In [53]:
max_idx = df["friend_count"].idxmax()
max_friends_user = df.iloc[max_idx]
max_friends_user

userid                   2090699
age                          103
dob_day                        1
dob_year                    1910
dob_month                     10
gender                    female
tenure                       783
friend_count                4923
friendships_initiated         96
likes                         26
likes_received                80
mobile_likes                  26
mobile_likes_received         71
www_likes                      0
www_likes_received             9
Name: 98159, dtype: object

How many users were born in each year?
Group each year and count how many users are in each group.

In [62]:
count_dob_year = df.groupby("dob_year")["dob_year"].count()
count_dob_year

dob_year
1900     202
1901      18
1902      18
1903      15
1904       9
        ...
1996    3283
1997    3086
1998    2618
1999    1925
2000     484
Name: dob_year, Length: 101, dtype: int64

What age has the most facebook users? Use groupby in order to group the ages, then, count the results. Then, use idxmax to find the age with that max values.

In [68]:
age_most_users = df.groupby("age")["age"].count().idxmax()
age_most_users

18

plot a scatter graph with all the ages

In [67]:
df.plot(kind='scatter',y='age')
plt.title("")
plt.ylabel("")

ValueError: scatter requires an x and y column

What is the gender percentage for each group?

plot a bar graph with each gender group percentage.